/* If window is smaller than 821px, display the HKN logo only */
@media screen and (max-width: 750px) {
    .navbar li a {
        display: none;
    }
    
    #logo {
	    position: absolute;
	    width: 200px !important;
	    left: 35% !important;
	    padding: 0;
		width:auto;
	    vertical-align: middle;
    }
}

/* Include social media icons */
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Primary style */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: #383838;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

em {
	font-family: "Garamond";
	font-size: 1rem;
}
/* Overlay style for contect effects */
#overlay { 
   background: linear-gradient(to left, #485563 , #29323c);
   opacity: 0.5;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
   display: none;
}
/* Nav bar */
#logo {
	position: absolute;
	top: 8%;
	left: 4%;
}
.navbar {
	height: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 310;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateZ(0);
}

.navbar li {
    display: inline-block;
    margin: 0 5px;
    transform: scaleX(1.05);
}

.navbar a:hover{
    position: relative;
}

.navbar li a:hover:after {
    content: '';
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    position: absolute;
    bottom: -1px; /* moves down 1px over ul border */
    left: 50%;    
    margin-left: -6px;  
}

.navbar li a:hover:before{
    content: '';
    border-bottom: 7px solid #444;    
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: block;
    position: absolute;
    bottom: -1px;  /* moves down 1px over ul border */
    left: 50%;    
    margin-left: -7px;    

}

.navbar a {
    display: block;
    color: #000000;
    padding: 12px 10px;
    text-decoration: none;
}

.navbar a:hover, .navbar .active a {
    color: #E18728;
}

/* Social media & contact effects */
#rainbow:hover {
	background: #000000 !important;
}

nav.social {
  position: absolute;
  width: 400px;
  text-align: center;
  top: 35%;
  display: none;
  z-index: 10;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

nav.social a {
  position: absolute;
  width: 25%;
  height: 10px;
  width: 100px;
  color: #fff;
  font-size: 30px;
  line-height: 90px;
  text-decoration: none;
  transition: all 200ms ease-in-out 40ms;
  transform-origin: bottom;
}

nav.social span {
  opacity: 0;
  height: 0;
  transition: all 200ms ease-in-out 30ms;
}

nav.social a:hover > span {
  transition-delay: 200ms;
  opacity: 1;
  height: initial;
}

nav.social a:hover {
  height: 90px;
}

nav.social a:nth-child(1) {
  background-color: #000000;
  left: 0;
}

nav.social a:nth-child(2) {
  background-color: #dd4b39;
  left: 25%;
}

nav.social a:nth-child(3) {
  background-color: #45619D;
  left: 50%;
}

nav.social a:nth-child(4) {
  background-color: #004879;
  left: 75%;
}

/* Clock */
.content {
	display: none;
	position: absolute;
    height: 300px;
    width: 550px;
	padding:0;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#clock {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    text-align: center;
    color: #fff;
    font-size: 80px;
    position: absolute;
	left: 10%;
    top: 20%;
}

.calendar li {
	display: block;
	list-style: none;
	float: left;
	padding-right: 10px;
}

.calendar {
    position: absolute;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    text-align: center;
    color: #e2dede;
    font-size: 20px;
    padding: 0;
    top: 5%; 
    left: 17%;
}

#day {
	font-size: 30px;
	font-weight: 300;
	left: 5%;
	margin-top: 15px;
	margin-left: -30px;
}

#date {
	margin-top: 25px;
}

/* Timeline */
.cd-horizontal-timeline {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  opacity: 0;
  margin: 1em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  margin-top: 270px;
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}

.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: #5a5858;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #000000;
  border-color: #000000;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #000000;
  border-color: #000000;
}

.cd-horizontal-timeline .events a.older-event::after {
  border-color: #000000;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 100%;
  width: 12px;
  left: 50%;
  top: 80%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('cd-arrowright.svg') no-repeat;  
  background-size: 100%
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-53%) rotate(180deg);
  -moz-transform: translateY(-53%) rotate(180deg);
  -ms-transform: translateY(-53%) rotate(180deg);
  -o-transform: translateY(-53%) rotate(180deg);
  transform: translateY(-53%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: 300;
  font-size: 3rem;
  font-family: "Lato", serif;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  color: #b54363;
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-family: "Lato", serif;
  font-weight: 320;
  font-size: 1rem;
  color: #7e7b7b;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}

.content-link {
	color: #7e7b7b;
	font-weight: 500;
}

.content-link:hover {
	text-decoration: underline;
}

#kris {
	font-size: 0.8rem;
	color: #000000;
}

/* About page toggle search */
.list-switcher {
  font-family: "Lato";
  font-weight: 400;
  font-size: 0.95rem;
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  text-transform: uppercase;
}

label {
  display: block;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

.chunk {
  display: block;
  width: 100%;
  margin-bottom: 2.5em;
  
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}

// ===== Toggle Buttons =====
// Button wrapper
.toggle-button {
  text-transform: capitalize;

  .toggle-button_option:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .toggle-button_option:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

// Individual option in toggle button
.toggle-button_option {
  font-family: "Lato";
  display: inline-block;
  float: left;
  height: auto;
  width: 13em;
  padding: 0.875em;
  font: inherit;
  font-weight: 700;
  color:#7f7f7f;  
  background: #ececec;
  text-decoration: none;
  text-align: center;
  margin: 0;
  cursor: pointer;
  overflow: visible;
  border:1px solid #a7a7a7;  vertical-align: middle;
  box-shadow: 0px 2px 1px white inset, 0px -2px 5px white, 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;

  span {
    font-size: 15px;
  }

  &.js-checked {
  background: #ffffff;
  color: #7f7f7f;
  }

  // Hide the radio button
  input {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
  }
}

.toggle-button_option:hover{
		box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
