@media screen and (max-width: 980px) {
    .gauge, .notes-wrapper, .twitter-streaming {
	    display: none !important;
    }
    
    .weather-app {
	    left: 30% !important;
    }
    
    #loading-page {
	    left: 60% !important;
	    top: 50% !important;
    }
    
    .web-des {
	    display: none;
    }
}

/* If window is smaller than 750px, display the logo only */
@media screen and (max-width: 750px) {
    .navbar li a {
        display: none;
    }
    
    #logo {
	    position: absolute;
	    width: 200px !important;
	    left: 35% !important;
	    top: 30% !important;
	    padding: 0;
		width:auto;
	    vertical-align: middle;
    }
    
    p.url {
	    display: none;
    }
}

/* Include social media icons */
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,500,200);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic);

@font-face {
    font-family: "Helvatica Neue";
    src: url("app/assets/fonts/helvatica-neue.woff");
}

/* Primary style */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: #383838;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

em {
	font-family: "Garamond";
	font-size: 1rem;
}
/* Overlay style for contect, utilities and instructions effects */
#overlay-contact { 
   background: linear-gradient(to left, #485563 , #29323c);
   opacity: 0.9;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   display: none;
}

#overlay-utilities { 
   background: linear-gradient(to left, #FFA17F , #00223E);
   opacity: 0.9;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   display: none;
}

.utilities-button {
	z-index: 999;
	width: 200px;
	height: auto;
	position: absolute;
	margin-left: 75%;
	margin-top: 8%;
}

#insns-overlay-wrapper {
   background: linear-gradient(to left, #485563 , #29323c);
   opacity: 0.9;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
}

/* Nav bar */
#logo {
	position: absolute;
	top: 10%;
	left: 4%;
}

#draggable {
	z-index: 5;
	cursor: move;
	position: absolute;
	margin-left: 90%;
	margin-top: 5%;
}

#close {
	position: absolute;
	top: 20%;
	right: 4%;
}

#close:hover {
  	animation: ripple 0.6s ease-out;
}

.navbar {
	height: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 310;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateZ(0);
}

.navbar li {
    display: inline-block;
    margin: 0 5px;
    transform: scaleX(1.05);
}

.navbar a:hover{
    position: relative;
}

.navbar li a:hover:after {
    content: '';
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    position: absolute;
    bottom: -1px; /* moves down 1px over ul border */
    left: 50%;    
    margin-left: -6px;  
}

.navbar li a:hover:before{
    content: '';
    border-bottom: 7px solid #444;    
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: block;
    position: absolute;
    bottom: -1px;  /* moves down 1px over ul border */
    left: 50%;    
    margin-left: -7px;    

}

.navbar a {
    display: block;
    color: #000000;
    padding: 12px 10px;
    text-decoration: none;
}

#navbar-white a {
	color: #fff;
}

.navbar a:hover, .navbar .active a {
    color: #E18728;
}

/* Sub-navbar */
.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  overflow: hidden;


background: #E6DADA; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(230, 218, 218, 0.9) , rgba(39, 64, 70, 0.9)); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(230, 218, 218, 0.9) , rgba(39, 64, 70, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  z-index: 3;
  display: none;
}
.menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}
.menu-toggler:hover + label, .menu-toggler:hover + label:before, .menu-toggler:hover + label:after {
  background: white;
}

.menu-toggler:checked + label {
  background: transparent;
}
.menu-toggler:checked + label:before, .menu-toggler:checked + label:after {
  top: 0;
  width: 40px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.menu-toggler:checked + label:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-toggler:checked + label:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
  z-index: 4;
}

.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  -webkit-transform: rotate(0deg) translateX(-110px);
          transform: rotate(0deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  -webkit-transform: rotate(60deg) translateX(-110px);
          transform: rotate(60deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  -webkit-transform: rotate(120deg) translateX(-110px);
          transform: rotate(120deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  -webkit-transform: rotate(180deg) translateX(-110px);
          transform: rotate(180deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  -webkit-transform: rotate(240deg) translateX(-110px);
          transform: rotate(240deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(6) {
  -webkit-transform: rotate(300deg) translateX(-110px);
          transform: rotate(300deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}

.menu-toggler + label {
  width: 40px;
  height: 5px;
  display: block;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: top 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 5;
}
.menu-toggler + label:before, .menu-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: top 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  content: "";
  position: absolute;
  left: 0;
}
.menu-toggler + label:before {
  top: 10px;
}
.menu-toggler + label:after {
  top: -10px;
}

.menu-item:nth-child(1) a {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu-item:nth-child(2) a {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.menu-item:nth-child(3) a {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.menu-item:nth-child(4) a {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-item:nth-child(5) a {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}

.menu-item:nth-child(6) a {
  -webkit-transform: rotate(-300deg);
          transform: rotate(-300deg);
}

.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  display: block;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  pointer-events: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44.44444px;
}


/* Social media & contact effects */
#rainbow:hover {
	background: #000000 !important;
}

nav.social {
  position: absolute;
  width: 400px;
  text-align: center;
  top: 35%;
  display: none;
  z-index: 999;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

nav.social a {
  position: absolute;
  width: 25%;
  height: 10px;
  width: 100px;
  color: #fff;
  font-size: 30px;
  line-height: 90px;
  text-decoration: none;
  transition: all 200ms ease-in-out 40ms;
  transform-origin: bottom;
}

nav.social span {
  opacity: 0;
  height: 0;
  transition: all 200ms ease-in-out 30ms;
}

nav.social a:hover > span {
  transition-delay: 200ms;
  opacity: 1;
  height: initial;
}

nav.social a:hover {
  height: 90px;
}

nav.social a:nth-child(1) {
  background-color: #000000;
  left: 0;
}

nav.social a:nth-child(2) {
  background-color: #dd4b39;
  left: 25%;
}

nav.social a:nth-child(3) {
  background-color: #45619D;
  left: 50%;
}

nav.social a:nth-child(4) {
  background-color: #004879;
  left: 75%;
}

/* Clock */
.content {
	display: none;
	position: absolute;
    height: 300px;
    width: 550px;
	padding: 0;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;
	font-family: 'Helvetica Neue', 'Open Sans Pro', Helvetica, sans-serif;
}

#clock {
	font-family: 'Helvetica Neue', 'Open Sans Pro', Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    color: #fff;
    font-size: 80px;
    position: absolute;
	left: 10%;
    top: 20%;
}

.calendar li {
	display: block;
	list-style: none;
	float: left;
	padding-right: 10px;
}

.calendar {
    position: absolute;
    font-weight: 300;
    text-align: center;
    color: #e2dede;
    font-size: 20px;
    padding: 0;
    top: 5%; 
    left: 17%;
}

#day {
	font-size: 30px;
	font-weight: 300;
	left: 5%;
	margin-top: 15px;
	margin-left: -30px;
}

#date {
	margin-top: 25px;
}

/* Twitter streaming */
.twitter-streaming {
	display: none;
	position: absolute;
    height: 300px;
    width: 300px;
	padding: 0;
    top: 25%;
    left: 85%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 999;
}

/* Weather app */
.info_bg p {
  margin-bottom: -.2em;
}

.climate_bg {
  position: absolute;
  top: 0;
  left: 235px;
  z-index: 9;
  width: 163px;
  height: 149px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.weathericon {
  display: block;
  position: absolute;
  top: -5px;
  left: 1.226993865%;
  z-index: 200;
  width: 160px;
  height: auto;
  overflow: hidden;
}

.weather-app {
  display: none;
  position: absolute;
  font-family: 'Helvetica Neue', 'Century Gothic', Helvetica, sans-serif;
  font-weight: 200;
  margin: 0;
  color: #fff;
  top: 5%;
  left: 3%;
  width: 398px;
  height: 208px;
  border-radius: 10px;
  background: linear-gradient(rgba(43,  43,  43, 0.8), rgba(74, 74, 74, 0.7)); 
  box-shadow: 0 20px 40px 0.1px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.weather-app .main {
	margin-top: 35px;
	width: 235px;
}

.dropicon {
  display: block;
  position: absolute;
  top: 9px;
  left: -3.9110429448%;
  z-index: 3;
  width: 41px;
  height: auto;
  overflow: hidden;
}

.not-available, .failed {
  position: absolute;
  top: 464px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 248px;
  min-height: 24px;
  margin: 0 auto;
  font: 0.625em/1.38 'Trebuchet MS';
  color: rgb(0, 0, 0);
}

.humidity {
  position: absolute;
  top: 30%;
  left: 29px;
  z-index: 2;
  width: 46px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

.info_bg {
  position: absolute;
  top: 149px;
  left: 235px;
  z-index: 4;
  width: 163px;
  height: 59px;
  border-bottom-right-radius: 10px;
  background-color: rgba(26,177,237, 1);
}

.location {
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  font-size: 13px;
  margin-top: 20px;
}

.temperature {
  margin: 0;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 6rem;
  text-align: center;
  vertical-align: middle;
}

.windicon {
  display: block;
  position: absolute;
  top: 5px;
  left: 43.1173312883%;
  z-index: 1;
  width: 50px;
  height: auto;
  overflow: hidden;
}

.windspeed {
  position: absolute;
  left: 109px;
  width: 50px;
  top: 27%;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

.windspeed p {
	margin-top: -5px;
}

.toggle-degree {
	top: 85%;
	left: 49%;
	position: absolute;
	font-size: 10px;
	font-weight: bold;
}

#toggle {
	max-height: 0;
	max-width: 0;
	opacity: 0;
}

input#toggle + label {
  display: block;
  position: relative;
  margin-top: -10px;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  height: 16px;
  width: 30px;
  border-radius: 8px;
  color: #575454;
}

input#toggle + label:before {
  line-height: 16px;
  text-align: center;
  content: "";
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: rgba(19, 191, 17, 0);
  transition: all .1s ease;
  }

input#toggle + label:after {
  content: 'F';
  text-align: center;
  line-height: 16px;
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0px;
  border-radius: 8px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  transition: all 0.1s ease;
}

input#toggle:checked + label:before {
  width: 30px;
  background: rgba(19, 191, 17, 1);
}

input#toggle:checked + label:after {
  content: 'C';
  left: 14px;
  box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
  transition: all .1s ease;
 }
 
/* Instagram favorites */
.instagram-favorite {
	display: none;
	position: absolute;
	top: 37%;
	left: 5%;
	z-index: 999;
}

/* AQI gauge */
.gauge {
  font-family: 'Lato', sans-serif;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  top: 17%;
  left:55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
}

.gauge_index {
	position: absolute;
	margin-top: 150px;
	margin-left: 92px;
	color: #fff;
}

.gauge__values span {
  width: 180px;
  position: absolute;
  color: #fff;
  left: 12%;
  top: 48%;
}
.yellow .gauge__values, .orange .gauge__values {
  color: #000;
}

.gauge_value, .gauge_rating {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.gauge_value {
  font-size: .5em;
}

.gauge_rating {
  font-size: 1.2em;
  letter-spacing: .1em;
}

svg {
  display: block;
  margin: 1em auto 0;
}

.outer_ring {
	fill: none;
}

.spinner {
  stroke-width: 2;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-miterlimit: 10;
  transform-origin: 120px 120px;
  transition: all 1s;
  box-shadow: 0px 2px 1px white inset, 0px -2px 5px white, 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  fill: #bfbfbf;
}
.green .spinner {
  transform: rotate(75deg);
  fill: #63ea63;

}
.yellow .spinner {
  transform: rotate(125deg);
  fill: #ffde59;

}
.orange .spinner {
  transform: rotate(180deg);
  fill: #ff7b00;

}
.red .spinner {
  transform: rotate(230deg);
  fill: #d62d20;

}
.black .spinner {
  transform: rotate(280deg);
  fill: #000000;

}

.ring_green {
  fill: #63ea63;
  opacity: 0.8;

}

.ring_yellow {
  fill: #ffde59;
  opacity: 0.8;

}

.ring_orange {
  fill: #ff7b00;
  opacity: 0.8;
}

.ring_red {
  fill: #d62d20;
  opacity: 0.8;
}

.ring_black {
  fill: #000000;
  opacity: 0.8;
}

/* Loading screen */
#loading-page {
  height: 150px;
  width: 260px;  
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 45%;
  position: absolute;
  right: 0;
  top: 35%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 999;
  display: none;
}

#phrase_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 150px;
  overflow: hidden;
  width: 260px;
}

#phrases {
  -webkit-animation: slide-phrases-upward 20s;
          animation: slide-phrases-upward 20s;
}

#loadingCheckCircleSVG-0 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-1 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-2 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-3 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-4 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-5 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-6 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-7 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-8 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-9 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckSVG-0 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

#loadingCheckSVG-1 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

#loadingCheckSVG-2 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#loadingCheckSVG-3 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#loadingCheckSVG-4 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#loadingCheckSVG-5 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

#loadingCheckSVG-6 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

#loadingCheckSVG-7 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

#loadingCheckSVG-8 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

#loadingCheckSVG-9 {
  -webkit-animation: fill-to-coral 5000ms;
          animation: fill-to-coral 5000ms;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

/* Note card*/
*:focus, *:before:focus, *:after:focus, h2:focus, p:focus {
  outline: none;
}

.notes-wrapper .saver-wrap {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.notes-wrapper {
  position: absolute;
  left: 55%;
  top: 73%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Source Sans Pro';
  max-width: 300px;
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 999;
  display: none;
}
.notes-wrapper .saver-wrap {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
}
.notes-wrapper .saver-wrap .notes-dot {
  width: 10px;
  height: 10px;
  background-color: #D1D3D6;
  border-radius: 50px;
  transition: .1s ease-in-out;
}
.notes-wrapper .saver-wrap .notes-dot.saved {
  background-color: #66cc8f;
  transition: .1s ease-in-out;
  transition-delay: 2.10s;
}
.notes-wrapper .saver-wrap .rest {
  transform: scale(0);
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  width: 30px;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
}
.notes-wrapper .saver-wrap .rest.active {
    animation: animate 1.05s linear 2;
}
.notes-wrapper .saver-wrap .rest.active:after {
    animation: animate2 1.05s linear 2;
}
.notes-wrapper .saver-wrap .rest:after {
  transform: scale(0);
  clip: rect(0, 30px, 30px, 15px);
  content: '';
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
}
.notes-wrapper .notes-title {
  padding: 25px 30px;
  padding-right: 60px;
  font-weight: 600;
  color: #000C2F;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}
.notes-wrapper .notes-content {
  padding: 10px 30px;
  padding-bottom: 15px;
  font-weight: 400;
  color: #666D82;
  line-height: 1.4;
  font-size: 14px;
}

.notes-wrapper .notes-content img {
  width: 90%;
  border-radius: 5px;
  margin: 15px 5%;
}
.notes-wrapper .notes-line {
  width: 95%;
  margin-top: 0 auto;
  height: 1px;
  background-color: #CCCED5;
}
.notes-wrapper .notes-comment {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 13px;
  color: #999EAC;
  position: relative;
}
.notes-wrapper .getImg {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: -15px;
  cursor: pointer;
}
.notes-wrapper .getImg .material-icons {
  line-height: 60px;
  color: #999EAC;
}

/* Timeline */
.cd-horizontal-timeline {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  opacity: 0;
  margin: 1em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  margin-top: 230px;
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 20px;
}

.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: #5a5858;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #000000;
  border-color: #000000;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #000000;
  border-color: #000000;
}

.cd-horizontal-timeline .events a.older-event::after {
  border-color: #000000;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 100%;
  width: 28px;
  left: 50%;
  top: 72%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('cd-arrowright1.svg') no-repeat;  
  background-size: 100%
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: 300;
  font-size: 3rem;
  -webkit-font-weight: 300;
  -moz-font-weight: 300;
  -ms-font-weight: 300;
  -moz-font-family: 'Lato', sans-serif;
  font-family: 'Lato', serif;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  color: #b54363;
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-family: 'Lato', sans-serif;
  font-weight: 320;
  font-size: 1rem;
  color: #7e7b7b;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}

.content-link {
	color: #7e7b7b;
	font-weight: 500;
}

.content-link:hover {
	text-decoration: underline;
}

#kris {
	font-size: 0.8rem;
	color: #000000;
}

/* About page toggle search */
.list-switcher {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  width: 100%;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  text-transform: uppercase;
}

label {
  display: block;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

.chunk {
  display: block;
  width: 100%;
  margin-bottom: 2.5em;
  
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}

// ===== Toggle Buttons =====
// Button wrapper
.toggle-button {
  text-transform: capitalize;

  .toggle-button_option:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .toggle-button_option:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

// Individual option in toggle button
.toggle-button_option {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  float: left;
  height: auto;
  width: 13em;
  padding: 0.875em;
  font: inherit;
  font-weight: 700;
  color:#7f7f7f;  
  background: #ececec;
  text-decoration: none;
  text-align: center;
  margin: 0;
  cursor: pointer;
  overflow: visible;
  border:1px solid #a7a7a7;  vertical-align: middle;
  box-shadow: 0px 2px 1px white inset, 0px -2px 5px white, 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;

  span {
    font-size: 15px;
  }

  &.js-checked {
  background: #ffffff;
  color: #7f7f7f;
  }

  // Hide the radio button
  input {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
  }
}

.toggle-button_option:hover{
		box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}

// Selection 
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
	cursor: pointer;
}

/* Work Slider */
::selection {
  color: #fff;
  background: #57c6e1 !important;
}

#slider-menu {
	position: absolute;
	left: 0%;
	top: 0;
	text-decoration: underline;
}

#slider-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
    max-width: 700px;
    max-height: 550px !important;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    overflow: hidden;
    padding: 0;
}

#slider-wrapper {
    width: 210000px;
    height: 500px;
    align-content: center;
    transform: translate3d(0, 0, 0);
    font-family: Courier, 'Corier New', monospace;
    transition: transform .5s ease-in-out;
}

#image_slider{
    position: relative;
    padding:0;
}

#image_slider li{
    max-width: 100%;
    float:left;
    list-style: none;
}

.graghics {
    margin: 0;
    padding: 0;
    width: 700px;
    height: 550px;
    background-repeat: no-repeat;
}

.narrative {
	text-align: center;
	width: 700px;
}

.narrative h3 {
    font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	margin-top: 200px;
}

.narrative p {
	margin-top: 40px;
	line-height: 30px;
}

#slider-wrapper img {
	height: auto;
	width: 500px;
	display: block;
	vertical-align: middle;	
	margin: auto;
	margin-top: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

// special centering for certain posters
#hkn_5k {
	margin-top: 150px !important;
}

#hkn_cc {
	margin-top: 100px !important;
}

#hkn_laurel {
	margin-top: 150px !important;
}

#hkn_ind {
	margin-top: 100px !important;
}

#navLinks {
    text-align: center;
    width: 90%;
    position: absolute;
	top: 92%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: #000000;
            padding: 1px;
            border-radius: 50%;
            border: black 1px solid;
            width: 1px;
            -webkit-transition: width.2s ease;
            -moz-transition: width.2s ease;
			transition: width.2s ease;
        }
            #navLinks ul li:hover {
                background-color: #CCCCCC;
                border-color: #CCCCCC;
            }
            #navLinks ul li.active {
                background-color: #F44336;
                color: #F44336;
				width: 28px;
				height: 3px;
				border: none;
				border-radius: 20%;
            }
            #navLinks ul li.active:hover {
                color: #F44336;
                background-color: #F44336 !important;
            }


.itemControl {
	text-decoration: none;
	color: #000000;
	background-color: transparent !important;
	border: none !important;
    font-family: Courier, 'Corier New', monospace;
    font-size: .95rem;
}

.itemControl:hover {
	color: #fff;
	background: #000000 !important;
}

#slider-prev {
	position: absolute;
	bottom: 0;
	left: 0;
}

#slider-next {
	position: absolute;
	right: 0;
	bottom: 0;
}

/* Blog page & Loading text */
#blog-body {
	background: #242424;
}

.loading {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  z-index: -1;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}
.loading-text span:nth-child(1) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
          animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.loading-text span:nth-child(4) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}

/* EE Page */
.ee-dropdown {
    position: relative;
    margin-top: 150px;
    text-align: center;
}

#ee-course {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
    text-decoration: none;
    position: relative;
	
    &:hover {
	    text-decoration: underline;
    }
}

.ee-course-toggler {
	background: image-url('course-cover1.jpg');
	filter: greyscale(0%);
	background-size: cover;
	overflow: hidden;
	position: relative;
	display: none;
	margin-top: 600px;
	text-align: center;
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	width: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%); 
	
	h3 {
    	font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		padding: 10px 0;
	}
	
	p {
		font-family: Courier, 'Corier New', monospace;
		font-size: 0.9rem;
		padding: 5px 0;
	}
	
	span {
		font-weight: bold;
	}
}

.legend {
	text-align: left;
	font-size: 0.8rem !important;
	color: #c84747;	
	margin-left: 20px;
}

.future-course {
	color: #a49e9e;
}

.toggle-show {
	display:block;
}

// Progress Bar 
.progress {
  width: 24em;
  height: 5px;
}

.progress-wrap {
  overflow: hidden;
  background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  position: absolute;
  margin-top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progress-wrap .progress-bar {
  position: absolute;
  background: #e5e9eb;
  left: 0;
  top: 0;
}

/* Web Development Page */
.web-list {
	position: absolute;
	margin-top: 360px;
	left: 50%;
	width: 95%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    
    p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;    
    margin-top: 30px;
    }
}

.project-container {
	height: 420px;
}

.web-title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
    
    p {
	    line-height: 20px;
    }
}
.web-des {
	position: absolute;
	left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 230px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p.url {
	position: absolute;
	left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 260px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 0.8rem;
}
.web-list ul {
	text-align: center;
	margin-top: 10px;
}
.web-list ul li {
	width: 310px;
	display: inline-block;
	margin: 0;
	padding: 50px 0;
}

.web-list-container {
	height: 300px;
	width: 20%;
	min-width: 280px;
	position: absolute;
	text-align: center;
}

.web-list ul li a {
	float: left;
}

.web-hover {
	max-width: 20%;
}

.browser-wrapper {
	padding: 15px 0 0 0;
	border-radius: 3px;
	background: #ddd;
	display: inline-block;
	position: relative;
    width: 280px;
    height: 194px; 
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.75);

}

.browser-wrapper .browser-navigation-bar {
	display: block;
	height: 15px;
	position: absolute;
	top: 4px;
	left: 1px;
}
 
.browser-wrapper i {
	height: 5px;
	width: 5px;
	border-radius: 5px;
	background-color: #eee;
	border: 1px solid #dadada;
	float: left;
	margin: 0 0 0 4px;
}

.browser-wrapper img {
	width: 100%;
}

.browser-wrapper i:nth-child(1) {background-color: rgb(255, 86, 79)}

.browser-wrapper i:nth-child(2) {background-color: rgb(255, 183, 42)}

.browser-wrapper i:nth-child(3) {background-color: rgb(37, 198, 58)}

  
/* Mixin */
@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
}
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}


@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes fill-to-coral {
  0% {
    fill: white;
  }
  10% {
    fill: #7e615f;
  }
  100% {
    fill: #7e615f;
  }
}

@keyframes fill-to-white {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-phrases-upward {
  0% {
            transform: translateY(0px);
  }
  5% {
            transform: translateY(-50px);
  }
  10% {
            transform: translateY(-100px);
  }
  15% {
            transform: translateY(-150px);
  }
  20% {
            transform: translateY(-200px);
  }
  25% {
            transform: translateY(-250px);
  }
  30% {
            transform: translateY(-300px);
  }
  35% {
            transform: translateY(-350px);
  }
  40% {
            transform: translateY(-400px);
  }
  45% {
            transform: translateY(-450px);
  }
  50% {
            transform: translateY(-500px);
  }
  55% {
            transform: translateY(-550px);
  }
  60% {
            transform: translateY(-600px);
  }
  65% {
            transform: translateY(-650px);
  }
  70% {
            transform: translateY(-700px);
  }
  75% {
            transform: translateY(-750px);
  }
  80% {
            transform: translateY(-800px);
  }
  85% {
            transform: translateY(-850px);
  }
  90% {
            transform: translateY(-900px);
  }
  95% {
            transform: translateY(-950px);
  }
  100% {
            transform: translateY(-1000px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes animate2 {
  0% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

@keyframes ripple {
  100% {
    transform: scale(1.1, 1.1);
    opacity: 0;
    animation-iteration-count: infinite;

  }
}