<nav class="social">
      <a href="https://github.com/kevinfan23" id="rainbow" target="_blank"><span class="entypo-github"></span></a>
      <a href="https://www.linkedin.com/in/zixuan-kevin-fan-85492226" target="_blank"><span class="entypo-linkedin"></span></a>
      <a href="mailto:kevinfan23@ucla.edu"><span class="entypo-mail"></span></a>
      <a href="https://www.facebook.com/kevin.fan.984" target="_blank"><span class="entypo-facebook"></span></a>
      <a href="https://www.instagram.com/kfan23/" target="_blank"><span class="entypo-instagrem"></span></a>
</nav>

<div class="content">
	<div class="calendar">
		<ul>
			<li><div id="day"></div></li>
			<li><div id="date"></div></li>
		</ul>
	</div>
<div id="clock"></div>
</div>