<ul class="navbar">
<a href="http://kfaninc.com"><%= image_tag "logo1.svg", height: "45", :id => "logo"%></a>
<li><%= link_to "About", about_path %></li>
<li><a href="#">Utilities</a></li>
<li><a href="#">Map</a></li>
<li><a href="#" id="contact">Contact</a></li>
</ul>